@import '~bootstrap/scss/bootstrap';

.auth {
  display: grid;
  justify-content: center;
  align-items: center;
}

.message-board {
  display: grid;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
}

.box {
  background-color: orange;
  border: 1px solid black;

}
